@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #000000;
  --color-secondary: #ea8e24;
  --color-dark: #111111;
  --color-light: #f4f4f4;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-body antialiased text-slate-900 bg-white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full border-4 border-slate-100 hover:bg-emerald-500 transition-colors;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

